*{
    text-decoration: none;
    list-style: none;
    margin: 0 ;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;    
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #0062be;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

header .logo{
    position: relative;
    max-width: 80px;
}

.dropbtn {
    background-color: #0062be;
    position: absolute;
    left: -65px;
    bottom: -4px;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -160px;
    border-radius: 18px;
    background-color: #0062be;
    min-width: 250px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #fff;
    background-color:#0062be
}

.dropdown:hover .dropdown-content {
    display: block;
}

header ul{
    width: 630px;
    height: 30px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
}

header ul a{
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 30px;
    margin-right: 30px;
}

.content{
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.textbox{
    position: relative;
    max-width: 600px;
}

.textbox h2{
    color: #fff;
    font-size:4em;
    line-height:1.5em;
    font-weight: 900x;
    text-transform: uppercase;
}

.textbox span{
    font-style: 2em;
}

.textbox p{
    color: #fff;
}

.textbox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #fff;
    color: #111;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid #111;
}

.textbox a:hover{
    border: 2px solid #fff;
    background-color: #0062be;
    color: #fff;
}

.imgbox{
    width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 50px;
    margin-top: 50px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.imgbox img{
    min-width: 260px;
}

.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.thumb li:hover{
    -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
            transform: translateY(-15px);
}

.thumb li img{
    max-width: 40px; 
}

.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.sci a{
    display: inline-block;
    -webkit-filter: invert(1);
            filter: invert(1);
    margin: 5px 0;
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
}